
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.bj{
    background: url("../images/bg.jpg");
    width: 1350px;
    margin: auto;
}
.bj_top{
    background: url("../images/topbg.jpg");
    width: 1350px;
    height: 28px;
}
.bj_top1{
    background: url("../images/yuanshan.jpg") no-repeat 400px -65px;
    width: 1350px;
    margin: auto;
    overflow: hidden;
}
.bk_nr{
    margin: auto;
    width: 1000px;
}
.bt{
    overflow: hidden;
}
.bj_top1 h1{
    font-size: 24px;
    color: #333;
    float: left;
    margin: 50px 0px 0px 0px;
    padding-left:20px;
}
.bt1{
    background: url("../images/navbg.png") no-repeat;
    height: 60px;
}
.bt1 ul li a{
    float: left;
    font-size: 14px;
    padding: 20px;
    margin: 5px;
    font-weight: bold;
    color: white;
}
.bt1 ul li a:hover{
    color: #FF0101;
}
.bt1 ul{
    margin-left: 80px;
}
.bj_top2{
    background: url("../images/footside.jpg") no-repeat 50% 95%;
    width: 1350px;
    margin: 20px auto;
    overflow: hidden;
}
.zy_top{
    border: #D4D4D4 1px  solid;
    width: 960px;
    margin: auto;
    overflow: hidden;
}
.bk_nr_center{
    width: 960px;
    padding: 20px;
}
.center_xhx{
    border-bottom: black 2px solid;
    overflow: hidden;
    padding: 30px 0px 5px 5px;
    margin-bottom:20px ;
}
.center_left{
    float: left;
    font-size: 16px;
    color: #82100D;
}
.center_right{
    float: right;
    font-size: 12px;
}
.center_right,.center_right a{
    color: #646464;
}
.bj_bottom{
    background:#5C5C5C;
    width: 1350px;
    height: 60px;
    margin-top:25px;
    opacity:0.6;
    filter:alpha(opacity=60); 
}
.bj_bottom div{
    font-size: 12px;
    color: #E5E5E5;
    margin: 20px 180px;
}
.bj_bottom1{
    float: left;
}
.bj_bottom1 a{
    color: #010101;
}
.bj_bottom2{
    float: right;
}
.gexc_xp{
    width: 900px;
    margin: auto;
}
.riji{
    overflow: hidden;
}
.riji_left{
    width: 550px;  
    margin-left: 30px ;
    float: left;
}
.riji_tp{
    font-size: 30px;
    float: left;
    width: 80px;
    color: #B2B2B3;
    margin: 30px 0px 30px 0px;
}
.zuob{
    border-bottom: #848484 1px solid;
    width:560px
}
.riji_nr{
    float: left;
    width:460px
}
.riji_nr1{
    font-size: 16px;
    color: #030503;
    background: #CCCCCC;
    line-height: 40px;
    padding-left: 10px;
    margin: 10px 0px;
}
.riji_nr2{
    font-size: 12px;
    color: #656565;
    line-height: 25px;
}
.riji_nr3{
    font-size:10px;
    float: right;
    color: #9C9A9A;
    margin: 5px 20px;
}
.riji_right{
    float: right;
}
.riji_right div{
    background: #CCCCCC;
    width: 260px;
    height: 147px;
    text-align: center;
    margin-top:10px ;
}
.fenye{
    float: left;
    padding: 50px 300px 30px 300px;
}
.fenye  ul li{
    float: left;
    font-size: 12px;
    color: #656565;
    padding: 3px;
}